<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.3" targetFramework="net35" userInstalled="true" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net35" userInstalled="true" />
  <package id="Sawara.PubSub" version="0.0.0" targetFramework="net35" userInstalled="true" />
</packages>